.listEmpty{
    display: flex;
    flex-direction: column;
    width: 46rem;
    height: 15.25rem;
    justify-content: center;
    align-items: center;
    
    
}
.listEmpty :nth-child(1){
    color: var(--gray-300);
}

.listEmpty :nth-child(2){
    color: var(--gray-300);
}

@media screen and (max-width:500px){
    .listEmpty{
        width: 30rem;
        height: 10;
    }
}
