.info {
  display: flex;
  justify-content: space-between;
  width: 46rem;
  height: 1.1875rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width:500px){
  .info{
    width: 23rem;
    display: flex;
    justify-content: space-between;
  }
}

.tasksCreated {
  display: inline-flex;
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: bold;
}

.tasksCreated > span {
  display: inline-flex;
  background: var(--gray-400);
  border-radius: 20px;
  width: 1.5rem;
  height: 1.1875rem;
  justify-content: center;
  align-items: center;
  color: var(--gray-200);
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.tasksDone {
  font-size: 0.875rem;
  color: var(--purple);
  font-weight: bold;
}

.onTasks {
  display: inline-flex;
  background: var(--gray-400);
  color: var(--gray-200);
  width: 3.25rem;
  height: 1.1875rem;
  text-align: center;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.offTasks {
  display: inline-flex;
  background: var(--gray-400);
  color: var(--gray-200);
  width: 1.5625rem;
  height: 1.1875rem;
  text-align: center;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
