.contentInput {
  width: 100vw;
  text-align: center;

  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentInput {
  margin-top: -1.6875rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46rem;
  gap: 0.5rem;
}
.contentInput input {
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  color: var(--gray-300);
  width: 39.875rem;
  height: 3.375rem;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 1rem;
}

.contentInput input:focus {
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.contentInput button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  width: 5.625rem;
  height: 3.25rem;
  font-weight: 400;
  word-spacing: 2px;
  gap: 0.4rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;

  transition: background 0.1s;
}
.contentInput button > span {
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 0.875rem;
}
.contentInput button:hover {
  background: var(--blue);
}

.tasks {
  width: 46rem;
  margin: auto;
  margin-top: 4.5rem;
}
.info {
  justify-content: space-between;
  display: flex;
  width: 46rem;
  height: 1, 1875rem;
  margin-bottom: 1.5rem;
}

.tasksCreated {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: bold;
}

.tasksCreated > span {
  display: inline-flex;
  background: var(--gray-400);
  border-radius: 20px;
  width: 1.5rem;
  height: 1.1875rem;
  justify-content: center;
  align-items: center;
  color: var(--gray-200);
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.tasksDone {
  font-size: 0.875rem;
  color: var(--purple);
  font-weight: bold;
}

.tasksDone > span {
  display: inline-flex;
  background: var(--gray-400);
  color: var(--gray-200);
  width: 3.25rem;
  height: 1.1875rem;
  text-align: center;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.boxTasks {
  gap: 0.75rem;
}

.done {
  text-decoration: line-through;
  color: var(--gray-300);
}

.undone {
  text-decoration: none;
}

.task {
  display: flex;
  width: 46rem;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-500);
  margin-bottom: 0.75rem;
  border: 0.5px solid var(--gray-400);
  border-radius: 8px;
}

.boxInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.contentText {
  width: 39.5rem;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
}

.noChecked {
  display: inline-block;
  position: relative;
  width: 17.45px;
  height: 17.45px;
  border: 0.5px solid var(--blue);
  border-radius: 100%;
  cursor: pointer;
  background: var(--gray-400);
}

.checked {
  cursor: pointer;
  border: none;
}

.checked::before{
  transform-origin: center;
  content: "L";
  display: inline-block;
  text-align: center;
  width: 17.5px;
  height: 17.5px;
  margin-top: -9px;
  margin-left: -9px;
  font-size: 0.75rem;
  position: absolute;
  transform: scaleX(-1);
  rotate: 45deg;
  background: var(--purple-dark);
  color: var(--gray-100);
  border-radius: 100%;
}

.done {
  text-decoration: line-through;
  color: var(--gray-300);
}

.undone {
  text-decoration: none;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.trash > button {
  width: 12.48px;
  height: 14px;
  background: var(--gray-500);
  color: var(--gray-300);
  border: none;
}

.trash > button:hover {
  color: var(--danger);
}