.main {
  width: 100vw;
  text-align: center;

  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:500px){
  .main{
  width: 100vw;
  text-align: center;

  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .tasks{
    width: 30px;
  }
}

.main {
  margin-top: -1.6875rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46rem;
  gap: 0.5rem;
}
.main input {
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  color: var(--gray-300);
  width: 39.875rem;
  height: 3.375rem;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 1rem;
}

.main input:focus {
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.main button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  width: 5.625rem;
  height: 3.25rem;
  font-weight: 400;
  word-spacing: 2px;
  gap: 0.4rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;

  transition: background 0.1s;
}
.main button > span {
  font-weight: bolder;
  margin-bottom: -4px;
  font-size: 0.875rem;
}
.main button:hover {
  background: var(--blue);
}

.tasks {
  width: 46rem;
  margin: auto;
  margin-top: 4.5rem;
}
.info {
  justify-content: space-between;
  display: flex;
  width: 46rem;
  height: 1, 1875rem;
  margin-bottom: 1.5rem;
}

.tasksCreated {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: bold;
}

.tasksCreated > span {
  display: inline-flex;
  background: var(--gray-400);
  border-radius: 20px;
  width: 1.5rem;
  height: 1.1875rem;
  justify-content: center;
  align-items: center;
  color: var(--gray-200);
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.tasksDone {
  font-size: 0.875rem;
  color: var(--purple);
  font-weight: bold;
}

.tasksDone > span {
  display: inline-flex;
  background: var(--gray-400);
  color: var(--gray-200);
  width: 3.25rem;
  height: 1.1875rem;
  text-align: center;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

